<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Watch Live</title>
  </head>

  <style>

    .carousel-item{
      border: 1px solid black
    }

    .containerOne{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .carousel-captionOne{
      display: flex;
      width: 25%;
      height: 250px;
      flex-direction: column;
      justify-content: center;

    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

h2{
    font-size: 30px;
  }

  .mainNews{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

.newsOneStory{
    display: flex;
    flex-direction: column;
}

.watch{
    width: 50px;
}
  </style>

  <body>

  
    <header class="navbar navbar-expand-lg bg-primary">
        <div class="container">
  
            <div>
                <h1 class="display-3">Discussion</h1>
            </div>
  
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark  text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
  
            <div class="text-end">
              <button type="button" class="btn btn-warning">Search</button>
            </div>
          </div>
        </div>
      </header>


    <div class="mainNews">
      <div class="newsOneHeader">
        <h2>ESPN</h2>
      </div>

      <div class="newsOneStory">
        <span>Live: 2</span>
        <span>Repeat: 6</span>
      </div>

      <button class="watch">WATCH NOW</button>

    </div>

    <div class="mainNews">
      <div class="newsOneHeader">
        <h2>GolTV</h2>
      </div>

      <div class="newsOneStory">
        <span>Live: 2</span>
        <span>Repeat: 6</span>
      </div>

      <button class="watch">WATCH NOW</button>

    </div>

    <div class="mainNews">
      <div class="newsOneHeader">
        <h2>FOX Sports</h2>
      </div>

      <div class="newsOneStory">
        <span>Live: 2</span>
        <span>Repeat: 6</span>
        

        <button class="watch">WATCH NOW</button>

      </div>
    </div>

    <div class="mainNews">
      <div class="newsOneHeader">
        <h2>Telemundo</h2>
      </div>

      <div class="newsOneStory">
        <span>Live: 2</span>
        <span>Repeat: 6</span>
        

        <button class="watch">WATCH NOW</button>

      </div>
    </div>

    <div class="mainNews">
      <div class="newsOneHeader">
        <h2>beIN Sports</h2>
      </div>

      <div class="newsOneStory">
        <span>Live: 2</span>
        <span>Repeat: 6</span>
        

        <button class="watch">WATCH NOW</button>

      </div>
    </div>

    <div class="mainNews">
        <div class="newsOneHeader">
          <h2>NBC Sports</h2>
        </div>
  
        <div class="newsOneStory">
            <span>Live: 2</span>
        <span>Repeat: 6</span>
          

            <button class="watch">WATCH NOW</button>

        </div>
      </div>

      <div class="mainNews">
        <div class="newsOneHeader">
          <h2>TUDN</h2>
        </div>
  
        <div class="newsOneStory">
            <span>Live: 2</span>
        <span>Repeat: 6</span>
          

            <button class="watch">WATCH NOW</button>

        </div>
      </div>

      <div class="mainNews">
        <div class="newsOneHeader">
          <h2>NBC Sports</h2>
        </div>
  
        <div class="newsOneStory">
            <span>Live: 2</span>
        <span>Repeat: 6</span>
          

            <button class="watch">WATCH NOW</button>

        </div>
      </div>

      <div class="mainNews">
        <div class="newsOneHeader">
          <h2>CBS Sports</h2>
        </div>
  
        <div class="newsOneStory">
            <span>Live: 2</span>
        <span>Repeat: 6</span>
          

            <button class="watch">WATCH NOW</button>

        </div>
      </div>

      <div class="mainNews">
        <div class="newsOneHeader">
          <h2>DirectTV Stream</h2>
        </div>
  
        <div class="newsOneStory">
            <span>Live: 2</span>
        <span>Repeat: 6</span>
          

            <button class="watch">WATCH NOW</button>

        </div>
      </div>

      <div class="mainNews">
        <div class="newsOneHeader">
          <h2>Xfinity Stream</h2>
        </div>
  
        <div class="newsOneStory">
            <span>Live: 2</span>
        <span>Repeat: 6</span>
          

            <button class="watch">WATCH NOW</button>

        </div>
      </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html> -->


<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.39.1/dist/full.css" rel="stylesheet" type="text/css" />
  <title>Watch Live</title>
</head>
<body>
  
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl">Kick</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li><a>Leagues</a></li>
        <li><a>Cups</a></li>
        <li><a>Watch Live</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered" />
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
      <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>

  <main class="flex flex-row space-x-10 space-y-10 justify-center flex-wrap [&>:nth-child(1)]:my-10">
    <div class="card w-96 h-96  bg-base-100 shadow-xl">
      <figure><img src="../public/cbs-logo.png" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">CBS Sports Network</h2>
        <p>Live: 22</p>
        <p>Repeat: 7</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>

    <div class="card w-96 h-96 bg-base-100 shadow-xl">
      <figure><img src="../public/Hulu-Live-TV.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Hulu Live TV</h2>
        <p>Live: 32</p>
        <p>Repeat: 3</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>

    <div class="card w-96 h-96 bg-base-100 shadow-xl">
      <figure><img src="../public/dazn-og.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">DAZN</h2>
        <p>Live: 18</p>
        <p>Repeat: 9</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>

    <div class="card w-96 h-96 bg-base-100 shadow-xl">
      <figure><img src="../public/ESPN_FC_VarsityBlue-1.png" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">ESPN+</h2>
        <p>Live: 24</p>
        <p>Repeat: 5</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>
  </main>

  <main class="flex flex-row space-x-10 space-y-10 justify-center flex-wrap [&>:nth-child(1)]:my-10">

    <div class="card w-96 h-96 bg-base-100 shadow-xl">
      <figure><img src="../public/fox_logo.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Fox Network</h2>
        <p>Live: 28</p>
        <p>Repeat: 6</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>

    <div class="card w-96 h-96 bg-base-100 shadow-xl">
      <figure><img src="../public/Fubo_Sports_Network_Logo.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">fuboTV</h2>
        <p>Live: 31</p>
        <p>Repeat: 8</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>

    <div class="card w-96 h-96 bg-base-100 shadow-xl">
      <figure><img src="../public/Paramount_SocialShare.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Paramount+</h2>
        <p>Live: 27</p>
        <p>Repeat: 8</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>

    <div class="card w-96 h-96 bg-base-100 shadow-xl">
      <figure><img src="../public/peacock-logo.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">Peacock</h2>
        <p>Live: 34</p>
        <p>Repeat: 2</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Watch Now</button>
        </div>
      </div>
    </div>
  </main>


  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../views/index.js"></script>
</body>
</html>